body{
    text-align: center;
}

.box-container{
    display: flex;
    justify-content: center;
}

.box{
    height: 150px;
    width: 180px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 1.5rem;
}

.red{
    background-color: brown;
}
.purpel{
    background-color: plum;
}
.blue{
    background-color: blueviolet;
}
.yellow{
    background-color: yellow;
}
.flash{
    background-color: white;
}